
.container{
    margin-top: 55px !important;
    margin : 5px 0;
    width: 60%
}

.card{
    margin:6 2% !important;
}
.infected{
    margin:0 2% !important;
    border-bottom: 10px solid rgb(128, 179, 255);
}
.recovered{
    margin:0 2% !important;
    border-bottom: 10px solid rgba(0, 225, 0, 0.5);
}
.deaths{
    margin:0 2% !important;
    border-bottom: 10px solid rgba(225, 0, 0, 0.5);
}

@media(max-width: 770px) {
    .Card {
      margin:2% 0 !important;
    }
}