body {
    background-image: url('./components/Images/covid3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
  
    /* background-color: #e6fff2; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
   
}